
            {% include "nav.html" %}
        </div>
        <div id='content-about' class='w-8/12 flex flex-col items-center mt-10'>
            <h1 class='text-3xl font-bold'>About me</h1>
            <div class='flex m-10 gap-5'>
                <div id='about-image'>
                    <img class='w-200 h-400' src="./static/src/images/Alison.jpg">
                </div>
                <div id='about-text' class='m-5'>
                    <p class='m-2'>
                        Let me introduce myself: I'm Alison, an industrial psychology masters graduate.
                    </p>
                    <p class='m-2'>
                        After a couple of years in human resources, I'm launching my psychology career.
                    </p>
                    <p class='m-2'>
                        As part of it, I wanted to share my experience and my knowledge with everyone through this blog.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>