
            {% include "nav.html" %}
        </div>
        <div id='content-about' class='md:w-8/12 mr-auto ml-auto flex flex-col items-center mt-10'>
            <h1 class='text-3xl md:text-4xl font-bold '>About me</h1>
            <div class='flex flex-col lg:flex-row m-10 gap-5 lg:gap-10'>
                <div id='about-image' class='w-8/12 m-auto'>
                    <img class='w-200 h-400 rounded-md m-auto' src="./static/src/images/Alison.jpg">
                </div>
                <div id='about-text' class='text-justify mt-3 lg:mt-0 md:text-2xl'>
                    <p class='m-2'>
                        Let me introduce myself: I'm Alison, an industrial psychology masters graduate.
                    </p>
                    <p class='m-2'>
                        After a couple of years in human resources, I'm launching my psychology career.
                    </p>
                    <p class='m-2'>
                        As part of it, I wanted to share my experience and my knowledge with everyone through this blog.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>