
            {% include "nav.html" %}
        </div>
        <div id='content-about'>
            <h1 class='text-3xl'>Hey there!</h1>
            <p id='intro-about'>
                Let me introduce myself: I'm Alison. I'm an industrial psychology masters graduate. After a couple of years in human resources, I'm launching my psychology career. As part of it, I wanted to share my experience and my knowledge with everyone through this blog.
            </p>
        </div>
    </div>
    
</body>
</html>