<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/src/css/main.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    
    <title>Ali La Psy</title>
</head>
<body style="font-family: 'Baloo 2', cursive;">
    <div id='container' style='background-color: #FCF5E5; border: double #473622 5px;' class='flex h-full w-full margin-5'>
        <div id='vertical-menu' style='background-color: #10a89b; color:#ebeebd; border-right: solid #473622 2px;' class='h-screen w-4/12 pl-5'>

            <nav class='flex flex-col gap-10' >
                <video width='160' autoplay muted loop>
                    <source src="./static/src/images/logo.mp4" type="video/mp4">
                </video>
                <a href='/'><i class="fas fa-home"></i> Home</a>
                <a href='/about-me'><i class="fas fa-address-card"></i> About me</a>
                <a href='/posts?page=1'><i class="fas fa-book"></i> Posts</a>
                <a href='/resources?page=1'><i class="fas fa-file-alt"></i> Documentation</a>
                <a href='/contact'><i class="fas fa-envelope"></i> Contact</a>
            </nav>