<form method="POST">
    <h3 >Create new post</h3>
    <div >
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Title"
      />
    </div>
    <div>
      <label for="content">Content</label>
      <input
        type="text"
        id="content"
        name="content"
        placeholder="Type in the content of the post"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
  