
            {% include "nav.html" %}
        </div>
        <div id='content-posts' class='w-8/12 flex flex-col items-center mt-10'>
            <div>
                <h1 class='text-3xl font-bold w-10/12'>Posts</h1>
                <h2 class='text-xl font-semibold w-10/12'> My experiences and opinions</h2>
                <p id='intro-posts' class='m-5 w-10/12'>
                    Here are my thoughts, tools and tips about situations I've encountered or theories I've read about.
                </p>
            </div>
            <div>
                {% for element in posts_by_page %}
                    {%for inner_element in element %}
                    <a href='/post?id={{inner_element.id}}'>
                        <div class='post-content bg-gray-50 border-black border-2 w-10/12 m-5 p-5'>
                            <div class='post-title flex justify-between'>
                                <h3 class='text-xl font-bold'> {{ inner_element.title }} </h3>
                                <p> {{ inner_element.date.strftime('%d/%m/%Y') }}</p>
                            </div>
                            <hr class='border-black m-2'>
                            <!-- <div>
                                <img src={{inner_element.image}} alt='banner'>
                            </div> -->
                            <div class='post-content text-justify'>
                            {{ inner_element.content[0:200]}}...
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% endfor %}
            </div>
            
            <div class='flex w-4/6 justify-between'>
                <a href={{previous_page}}> << Previous page </a>
                <p>Page {{ page }}</p>
                <a href={{next_page}}> Next page >> </a> 
            </div>
            
        </div>
    </div>
</body>
</html>